body{
  margin:0;
  font-family: sans-serif;
}

.fullscreen{
  width: 100%;
  height: 100vh;
}

.sectionWithStick{
  margin-top: -100vh;
}

.sticky{
  position: sticky;
  top:0;
  z-index: -1;
}

#vizContainer1{
  background-color: lightyellow;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#vizContainer2{
  background-color: lightgreen;
}





.xAxisGroup{
  color: lavender;
}
