.st100{fill:#FDFEFE;}
	.st101{fill:#F7AABB;}
	.st102{fill:#FCD8DB;}
	.st103{fill:#302A6E;stroke:#000000;stroke-miterlimit:10;}
	.st104{fill:#F7A9BA;}
	.st105{fill:#302A6E;}
	.st106{fill:#FFFFFF;}
	.st107{fill:#312B6F;}
