.st1000{fill:#FDFEFE;}
	.st1001{fill:#F7AABB;}
	.st1002{fill:#FCD8DB;}
	.st1003{fill:#302A6E;stroke:#000000;stroke-miterlimit:10;}
	.st1004{fill:#F7A9BA;}
	.st1005{fill:#302A6E;}
	.st1006{fill:#FFFFFF;}
	.st1007{fill:#312B6F;}


	.st10000{fill:url(#SVGID_1_);}
	.st10001{fill:url(#SVGID_2_);}
	.st10002{fill:url(#SVGID_3_);}
	.st10003{fill:url(#SVGID_4_);}
	.st10004{fill:url(#SVGID_5_);}
	.st10005{fill:url(#SVGID_6_);}
	.st10006{fill:url(#SVGID_7_);}
	.st10007{fill:url(#SVGID_8_);}
	.st10008{fill:url(#SVGID_9_);}
	.st10009{fill:url(#SVGID_10_);}
 	.st100010{fill:url(#SVGID_11_);}
	.st100011{fill:url(#SVGID_12_);}
	.st100012{fill:url(#SVGID_13_);}
	.st100013{fill:url(#SVGID_14_);}
	.st100014{fill:url(#SVGID_15_);}
	.st100015{fill:url(#SVGID_16_);}
	.st100016{fill:url(#SVGID_17_);}
	.st100017{fill:url(#SVGID_18_);}
	.st100018{fill:url(#SVGID_19_);}
	.st100019{fill:url(#SVGID_20_);}
	.st100020{fill:url(#SVGID_21_);}
	.st100021{fill:url(#SVGID_22_);}
	.st100022{fill:url(#SVGID_23_);}
	.st100023{fill:url(#SVGID_24_);}
	.st100024{fill:url(#SVGID_25_);}
	.st100025{fill:url(#SVGID_26_);}
	.st100026{fill:url(#SVGID_27_);}
	.st100027{fill:url(#SVGID_28_);}
	.st100028{fill:url(#SVGID_29_);}
	.st100029{fill:url(#SVGID_30_);}
	.st100030{fill:url(#SVGID_31_);}
	.st100031{fill:url(#SVGID_32_);}
	.st100032{fill:url(#SVGID_33_);}
	.st100033{fill:url(#SVGID_34_);}
	.st100034{fill:url(#SVGID_35_);}
	.st100035{fill:url(#SVGID_36_);}
	.st100036{fill:url(#SVGID_37_);}
	.st100037{fill:url(#SVGID_38_);}
	.st100038{fill:url(#SVGID_39_);}
	.st100039{fill:url(#SVGID_40_);}
	.st100040{fill:url(#SVGID_41_);}
	.st100041{fill:url(#SVGID_42_);}




